Django>=4.2.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
python-decouple
python-dotenv
requests
dj-database-url
psycopg2-binary
whitenoise
gunicorn
# Add allauth if ifif if ifi fi fifi fi if ifi if ifi fif iif ifi if ifi fi i u want allauth 
