Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt
python-dotenv
psycopg2-binary
django-cors-headers
Pillow

# Add allauth if ifif if ifi fi fifi fi if ifi if ifi fif iif ifi if ifi fi i u want allauth 
